.login-background {
  background: #f0f2f5;
  height: 100vh;

  .forgot-password-container {
    width: 400px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1) !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 190px !important;
    padding: 0 0 14px 0;
    color: #f0f2f5;

    .login-content {
      padding: 10px;

      .text-login {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        padding-top: 10px;
        color: #1877f2;
      }

      .login-input {
        margin: 7px 0;
        color: black;

        .custom-input-password {
          position: relative;

          i {
            position: absolute;
            right: 5px;
            top: 10px;
            cursor: pointer;
          }
        }
      }

      .btn-login {
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: #1877f2;
        color: white;
      }

      .section-forgot-signup {
        display: flex;
        justify-content: center;

        .forgot-password {
          font-size: 12px;
          color: #459af7;
        }
        .sign-up {
          margin-left: 27px;
          font-size: 12px;
          color: #459af7;
          cursor: pointer;
        }
      }

      .text-other-login {
        color: black;
      }

      .social-login {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
        .google {
          font-size: 30px;
          background: #c32434;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-right: 10px;
        }

        .facebook {
          font-size: 30px;
          background: #307aaf;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
        }
      }
    }
  }
}
